.alert {
    max-width: 1240px;
    padding: 10px 20px;
    background-color: rgb(255, 208, 0);
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    position: fixed;
    top: 80px;
    left: 0;
    animation: openAlert 0.3s linear;
}
.alert__text {
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
@keyframes openAlert {
    0% {
        transform: translateY(-50%) scaleY(0);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}